 *{

    margin: 0px;
    padding: 0px;
    cursor: pointer;
    
 }
 
 
 
 #h1{
    height: 30px;
    width: 100%;
    background-color: rgb(3, 151, 53);
    
    text-align: center; 
    font-size: 17px;
    padding-top:20px;
    padding-bottom: 15px;
    font-style: italic;    
    font-weight: normal;
    
    justify-content: center;
  
    
  


   
}



#z
{
  float: right;
  margin-right: 30px;
  margin-top: 2px;
  text-decoration: none;
    border-radius: 5px; 
   padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -4px;
     font-size: 18px;
    
    color: rgb(238, 238, 238);
     background-color: rgb(3, 151, 53);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}
   


#main-header{

     height: 140px;
    width: 100%;
    
    
   
   margin-bottom: -30px;
   

}

#main-header img{
    margin-left: 85px;
    margin-top: 25px;
    float: left;
   
 
}

#a{
       font-size: 20px;
    
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 60px;

    margin-right: 25px;
    
    color: rgb(238, 238, 238);
     background-color: rgb(3, 151, 53);
    text-align: center;
    float:left;
    text-decoration: none;
    border-radius: 5px; 
   padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
   

   
   
}
.navbar {
  background-color: rgb(8, 34, 7); 
  height: 30px;
  padding-top: 15px;
  inset-inline-start: 0;
}



#display ul{
display: none;
}
/* #display ul li{
display: none; */

#display:hover > ul{
  display: block;

 background-color: rgb(146, 146, 146);

}


.display ul li:hover {
  display: block;
  color:blue;
 background-color: rgb(129, 128, 128);



 /* position:relative; */
}

#display{
  z-index: 10;
  
}
#hide{
  margin-left: -0px;
  display: block;  
}
#li yr{
  margin-left: 20px;
}
#li tt{
  float: left;
}
.navbar ul {
 list-style: none;
 
  margin-left: 200px;
  padding: 0;
  display: flex;
}


.navbar li {
  margin-right: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: sans-serif; 
}

#Z1{
  text-decoration: none;
  color: white;
}
#main-section{
     height: 430px;
    width: 100%;
    background-color: aqua;   
}
#pic1
{
   height: 430px;
    width: 100%;
}

#pp
{
  margin-top: 60px;
  text-align: center; 
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 40px;


}
#PP:hover{
  color: #495864;
}
#video
{
  
  height: 500px;
  width: 80%;
  background-color: aquamarine;
  margin-left: 10%;
 

}
.pic{
  margin-top: 70px;
  height: 579px;
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  float: right;
  margin-bottom: 120px;
  padding-top: 0%;

}
#su{
  border: 2px solid rgb(157, 233, 233);
  

}
#su:hover{
  border-color: black;
  
}
#pri{

  margin-left: 6px;
  border: 2px solid rgb(157, 233, 233);
  
  
}
#pri:hover{
  border-color: black;
  
}
#sr{
    margin-top: 6px;

   border: 2px solid rgb(157, 233, 233);

}
#sr:hover{
  border-color: black;

  
}
#de{
    margin-top: 6px;
 margin-left: 6px;
border: 2px solid rgb(157, 233, 233);


}
#de:hover{
  border-color: black;

  
}

#ice1
{
    margin-top: 80px;


  text-align: center; 
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 103px;
 
}
#ice1:hover{
  color: #495864;
}
#ice2
{
    height: 400px;
  width: 88%;
  background-color: rgb(255, 255, 255);
    margin-left: 7%;
    margin-bottom: 24px;
    float: left;

}

#p1
{

   height: 400px;
  width: 23%;
  background-color: rgb(255, 188, 188);
  margin-right: 2.3%;
  float: left;
  border: 1.5px solid black;



}
#p1:hover{
  border-color: rgb(151, 151, 151);

}
.ice-cream-name
{
  text-align: center;
  margin-top: 35px;
   font-size: 20px;
    font-weight: normal;
    

}
.ice-cream-name:hover{
  color: rgb(255, 255, 255);

}

#p2
{
   height: 400px;
  width: 23%;
  background-color: rgb(255, 195, 195);
  margin-right: 2.4%;
  float: left;
  
 border: 1.5px solid black;



}
#p2:hover{
  border-color: rgb(151, 151, 151);

}

#p3
{
   height: 400px;
  width: 23%;
  background-color: rgb(255, 201, 201);
  margin-right: 2.4%;
  float: left;
  
border: 1.5px solid black;



}
#p3:hover{
  border-color: rgb(151, 151, 151);

}



#p4
{
   height: 400px;
  width: 275px;
  background-color: rgb(255, 194, 194);

  float: left;
  margin-bottom: 20px;


border: 1.5px solid black;



}
#p4:hover{
  border-color: rgb(151, 151, 151);

}

#li{
   text-align: center; 

}
#ice22
{
    height: 400px;
  width: 88%;
  background-color: rgb(255, 255, 255);
    margin-left: 7%;
    margin-bottom: 20px;
    float: left;

}

#p5
{

   height: 400px;
  width: 23%;
  background-color: rgb(255, 188, 188);
  margin-right: 2.3%;
  float: left;


border: 1.5px solid black;



}
#p5:hover{
  border-color: rgb(151, 151, 151);

}

#p6
{
   height: 400px;
  width: 23%;
  background-color: rgb(255, 195, 195);
  margin-right: 2.4%;
  float: left;
  
border: 1.5px solid black;



}
#p6:hover{
  border-color: rgb(151, 151, 151);

}

#p7
{
   height: 400px;
  width: 23%;
  background-color: rgb(255, 201, 201);
  margin-right: 2.4%;
  float: left;
  


border: 1.5px solid black;



}
#p7:hover{
  border-color: rgb(151, 151, 151);

}

#p8
{
   height: 400px;
  width: 275px;
  background-color: rgb(255, 194, 194);

  float: left;
 


border: 1.5px solid black;



}
#p8:hover{
  border-color: rgb(151, 151, 151);

}


#altek{
    height: 400px;
  width: 88%;
  background-color: rgb(150, 193, 233);
    margin-left: 7%;
    margin-bottom: 20px;
    float: left;
    margin-top: 65px;
    margin-bottom: 120px;
    border: 1px solid black;
}
#altek:hover{
  border-color: rgb(148, 147, 147);
}


.p{
  font-size: 35px;
  color: rgb(48, 48, 48);
text-align: center; 
margin-bottom: 40px;
}
.p:hover{
  color: #495864;
}

#INGREDIENT{
    height: 400px;
    width: 88%;
    background-color: rgb(255, 255, 255);
    margin-left: 7%;
    margin-bottom: 20px;
    float: left;
    margin-top: 65px;
    
}
#icon{
   height: 400px;
  width: 31%;
  background-color: rgb(255, 255, 255);
  float: left;
  margin-left: 5px;
  border: 1px solid rgb(192, 192, 192);
}
#icon:hover{
  border-color: black;
}

#P111{
  display: block;
  margin-left:auto ;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  
}
.p22{
  text-align: center;
   font-style: sans-serif;    
   font-size: 22px;
   margin-bottom: 7px;
   
}

#l1{
   font-style:serifs; 
   margin-left: 20px; 
   margin-right: 15px;
   color: gray;
   
    font-size: 18px;
    text-align: left;
   


}


#icon1{
   height: 400px;
  width: 31%;
  background-color: rgb(255, 255, 255);
  margin-left: 3%;
  float: left;
   border: 1px solid rgb(192, 192, 192);
}
#icon1:hover{
  border-color: black;
}


#icon2{
   height: 400px;
  width: 31%;
  background-color: rgb(255, 255, 255);
  margin-left: 3%;
  float: left;
   border: 1px solid rgb(192, 192, 192);
}
#icon2:hover{
  border-color: black;

}





#flow{
  margin-top: -10px;
   height: 120px;
  width:100%;
 
  clear: both;
  margin-bottom: 80px;

}

#quaries{
   height: 300px;
  width: 88%;
  background-color: rgb(150, 193, 233);
    margin-left: 7%;
    margin-bottom: 100px;
    clear: both;
    border-radius: 100px;
   
  
}
#q1
{
 
   border-radius: 70px;
  
}

#inst{
  font-size: 40px;
  color: rgb(48, 48, 48);
text-align: center; 
margin-bottom: 70px;

}
#inst:hover{
  color: #495864;
}

#instp{
   height: 260px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 40px;
 
}


#i1
{
   height: 260px;
  width: 257px;
  background-color: rgb(255, 195, 195);
   margin-right: 10px;
   margin-left: 10px;
  float: left;
  border-radius: 5px;
  
}

#i2
{
   height: 260px;
 width: 257px;
  background-color: rgb(255, 195, 195);
   margin-right: 10px;
  
  float: left;
  


}

#i3
{
    height: 260px;
  width: 257px;
  background-color: rgb(255, 195, 195);
   margin-right: 10px;
  
  float: left;
 


}

#i4
{
   height: 260px;
  width: 257px;
  background-color: rgb(255, 195, 195);
   margin-right: 10px;
  
  float: left;
  


}

#i5
{
   height: 260px;
  width: 257px;
  background-color: rgb(255, 195, 195);
  border-radius: 5px; 
  
  float: left;
  

}

#box{
   height: 350px;
  width: 78%;
  background-color: rgb(255, 255, 255);
   margin-left: 12%;
    margin-bottom: 100px;
    clear: both;
    border-radius: 5px;
     border: 0.5px solid rgb(184, 181, 181);
  }

#b1{
  padding-top: 40px;
  text-align: center;
  margin-left: 15px;
 
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
}
#b2{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 20px;
  color: gray;
  font-size: 18px;
}
#a1{
       font-size: 20px;
    
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 450px;

    margin-right: 25px;
    
    color: rgb(238, 238, 238);
     background-color: rgb(3, 151, 53);
    text-align: center;
    float:left;
    text-decoration: none;
    border-radius: 5px; 
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
   

   
   
}
#foot{
    height: 350px;
    width: 100%;
    background-color: rgb(63, 63, 63);
    

  }
  #foot li{
    margin-top: 10px;
  }
#d1{
    height: 320px;
    width: 90%;
    background-color: rgb(63, 63, 63);
   
    margin-bottom: 15px;
    margin-right:2%;
    margin-left: 8%;
    color: rgb(192, 183, 183);
    font-size: 17px;
}
#u1
{

    list-style: none;
    float: left;

}

.AA li:first-child
{
       padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}


#u2
{
    
    list-style: none;
    float: left;
    margin-left: 70px;

}


#u3
{
    
    list-style: none;
    float: left;
    margin-left: 70px;
    

}

#d2{
    height: 200px;
    width: 270px;
    float: left;
    margin-left: 260px;
     background-color: rgb(63, 63, 63);
    margin-top: -160px;
    padding-left: 20px;
    padding-top: 10px;
   
}
#image{
    margin-top: 10px;
    margin-bottom: 8px;
   margin-left: 5px;
    margin-right:5px ;
    border-radius: 5px;
    padding-left: -5px;
}

#ima{
   
    margin-bottom: 20px;
    margin-left: 95px;
    margin-right:5px ;
    float: left;
     border-radius: 3px;
}

#imag{
   
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:5px ;
     border-radius: 3px;
}
#harv{

    color: rgb(192, 183, 183);  
    font-size: 17px;
    text-align: center;
    margin-right: 90px;
    margin-left: 80px;
    
    
    
   
    
}



 #i
    {
        margin-top: -140px;
        margin-left: 60px;
        margin-bottom: 17px;

    }